   
.btns{
    margin-top: 2%;
    align-content: center;
    padding-left: auto;
    padding-right: auto;
}

.container{
    margin-top: 2%;
}

.node{
    align-items: center;
    display: grid;
    height: 20px;
    width: 20px;
    border: rgb(199, 4, 199) solid 0.5px;
}

.wall{
    background-color: rgb(199, 4, 199);
    outline: 1px solid black;
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        background-color: rgb(12, 53, 71);
    }

    50% {
        transform: scale(1.2);
        background-color: rgb(12, 53, 71);
    }

    100% {
        transform: scale(1.0);
        background-color: rgb(12, 53, 71);
    }
}
.vis{
    animation-name: visitedAnimation;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
    animation-delay: 0;
    background-color: rgb(245, 198, 239);
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: red;
        border-radius: 100%;
    }

    50% {
        background-color: rgb(236, 27, 236);
    }

    75% {
        transform: scale(1.2);
        background-color: #f766f7;
    }

    100% {
        transform: scale(1);
        background-color: rgb(247, 155, 247);
    }
}