*{
  margin: 0px;
}
.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #c3d4ee;
    height: 1000px;
  }
 
.centered {
    position: relative;
    top: 8%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 400%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: serif;
    color: white;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
  }

  .home2{
    background-color: #c3d4ee;
  }