   
.node{
    align-items: center;
    display: grid;
    height: 20px;
    width: 20px;
    border: black solid 0.5px;
}

.wall{
    background-color: black;
}

.start{
    background-color: chartreuse;
}

.end{
    background-color: red;
}

.path{
    background-color: yellow;
    animation-name: pathAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes pathAnimation {
    0% {
        transform: scale(.3);
        background-color: #f9d342;
    }

    50% {
        transform: scale(1.2);
        background-color: #fbe551;
    }

    100% {
        transform: scale(1.0);
        background-color: #fde88d;
    }
}

.vis{
    background-color: blue;
}