.btn btn-primar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: cornflowerblue;
}
.enter{
    text-align: center;
    font-size: 200%;
    font-style: italic;
}
.inputnum{
    
    height: 100%;
}
.arr{
    float: left;
    background-color: #7ed5ea;
    border: black solid;
    padding: 1%;
    border-radius: 15%;
    margin: 1%;

}
.arrelement{
    background-color: blanchedalmond;
}
.buttons{
    margin: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.enter{
    color: #0f2557;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}