*{
    margin: 0%;
}
.mybtns{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 2%;
    border: 5px solid #0b0c0a;
}

.heading{
    text-align: center;
    color: #0f2557;
    text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #777777, 0 4px 0 #666666,
             0 5px 0 #555555, 0 6px 0 #444444,
             0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4),
             0 9px 10px rgba(0, 0, 0, 0.2);
}
.bars{
    background-color: #63e5cd;
    float: left;
    border: 0.5px white solid;
    width: 10px;
    display: inline-block;
    padding: 1px;
    margin: 0px;
    border-radius: 5px;
}
